html, body {
    height: 100%;
}
body {
    background-image: url("../images/bluegridpattern_icons.jpg");
    background-repeat: repeat;
}
.body-content {
    background-color: #FCFCFC;
    min-height: 100%;
}
#footer {
    color: #FCFCFC;
    background: #333333;
}
.prize-grid select {
    color: #333333 !important;
}