html, body {
    height: 100%;
}
body {
    background-image: url("../images/gaming-pattern.png");
    background-repeat: repeat;
}
.body-content {
    background-color: #FCFCFC;
    min-height: 100%;
}
.prize-grid {
    color: #333333 !important;
}
.prize-grid select {
    color: #333333 !important;
}