<div style="background-color: #333333;">
    <ul id="menu" class="container" style="font-size: 20px; margin: 0 auto; display: flex; align-items: center;">
        <li>
            <a href="@Url.Action("Index", "Home")"><img src="~/images/controller_white.png" style="height: 45px;"/></a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
        </li>
        <li disabled="disabled">
            About
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $("#menu").kendoMenu();
    });
</script>