<div style="background-color: #333333;">
    <ul id="menu" class="container" style="margin: 0 auto;">
        <li>
            <a href="@Url.Action("Index", "Home")"><img src="~/images/controller_white.png" style="height: 45px;"/></a>
        </li>
        <li disabled="disabled">
            Raffle Drawing
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $("#menu").kendoMenu();
    });
</script>