@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">
                    $10 Raffle Prizes
                </li>
                <li>
                    $50 Raffle Prizes
                </li>
            </ul>
            <div>
                <div id="prizes-10" class="prize-grid"></div>
            </div>
            <div>
                <div id="prizes-50" class="prize-grid"></div>
            </div>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }
            });
        });
    </script>

</div>



<script>
    $(document).ready(function () {
        $('#prizes-10').jtable({
            title: '$10 Raffle Prizes',
            paging: true,
            pageSize: 25,
            sorting: true,
            defaultSorting: 'prizeId ASC',
            actions: {
                listAction: '@Url.Action("GetPrizes", "Home", new { tier = 10 })',
            },
            fields: {
                prizeId: {
                    title: 'Id',
                    key: true,
                    visibility: 'hidden'
                },
                prizeName: {
                    title: 'Prize',
                },
                description: {
                    title: 'Description',
                }
            }
        });

        $('#prizes-10').jtable('load');

        $('#prizes-50').jtable({
            title: '$50 Raffle Prizes',
            paging: true,
            pageSize: 25,
            sorting: true,
            defaultSorting: 'prizeId ASC',
            actions: {
                listAction: '@Url.Action("GetPrizes", "Home", new { tier = 50 })',
            },
            fields: {
                prizeId: {
                    title: 'Id',
                    key: true,
                    visibility: 'hidden'
                },
                prizeName: {
                    title: 'Prize',
                },
                description: {
                    title: 'Description',
                }
            }
        });

        $('#prizes-50').jtable('load');
    });
</script>